<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:component-scan base-package="com.myself.shiro"/>

	<bean id="myRealm" class="com.myself.shiro.MyShiroRealm"/>

	<!-- 配置权限管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myRealm"/>
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	
	<bean id="chainDefinitionSectionMetaSource" class="com.myself.shiro.ChainDefinitionSectionMetaSource">
		<property name="fiterChainDefinitions">
			<value>
           		 /system/loginout/toLogin = anon
			</value>
		</property>
	</bean>
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"/>
		<property name="loginUrl" value="/system/loginout/toLogin.action"/>
		<property name="successUrl" value="/index.jsp"/>
		<property name="unauthorizedUrl" value="/system/loginout/toLogin.action"/>
		<!-- <property name="filterChainDefinitions">
			<value>
				/system/loginout = anon
				/* = authc
			</value>
		</property> -->
		<property name="filterChainDefinitionMap" ref="chainDefinitionSectionMetaSource"/>
	</bean>
	
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
	
	<bean id="lifeCycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
</beans>